{% extends "base.html" %}
{% block title %}ShiftManager - Add availability{% endblock %}

{% block content %}
    {% if user.is_admin %}
        <h3 class="light-blue-text text-darken-1">Add availability</h3>
        <a class="waves-effect waves-light btn amber darken-1 right" href="{% url 'own_availabilities' %}"><i class="material-icons left">keyboard_backspace</i>Back</a><br><br>
        <div class="card">
            <form method="POST" action="{% url 'add_own_availability' %}">
                {% csrf_token %}
                <div class="card-content">
                    <input type="hidden" name="employee" value="{{ user.id }}">
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">event_calendar</i>
                            {{ form.weekday }}
                            <label>Weekday</label>
                            <span class="helper-text grey-text text-lighten-1" data-error="wrong" data-success="right">required</span>
                        </div>
                        <div class="input-field col s2">
                            <label>
                                <input type="checkbox" checked="checked" name="is_available" />
                                <span>Available</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">schedule</i>
                            <input id="id_start_time" name="start_time" type="time" class="grey-text text-darken-4">
                            <label for="id_start_time">Start</label>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">schedule</i>
                            <input id="id_end_time" name="end_time" type="time" class="grey-text text-darken-4">
                            <label for="id_end_time">End</label>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">event_calendar</i>
                            {{ form.tendency }}
                            <label>Tendency</label>
                            <span class="helper-text grey-text text-lighten-1" data-error="wrong" data-success="right">required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">chat_bubble</i>
                            <label for="id_note">Note</label>
                            <textarea name="note" autocapitalize="none" id="id_note" class="materialize-textarea grey-text text-darken-4"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn light-blue darken-1"><i class="material-icons left">add</i>Create availability</button>
                </div>
            </form>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}