{% extends "base.html" %}
{% block title %}ShiftManager - Availabilities{% endblock %}

{% block content %}
    {% if user.is_authorized %}
        <div id="add-modal" class="modal">
            <div id="add-modal-content"></div>
        </div>
        <div id="edit-modal" class="modal">
            <div id="edit-modal-content"></div>
        </div>
        <br><br><br>
        <div id="absence-content">
            <form hx-post="{% url 'availabilities' %}" hx-target="#availability-table" hx-swap="morph">
                {% csrf_token %}
                <div class="card card-color">
                    <div class="card-content header-color">
                        <div class="row" style="gap: 1em">
                            <div class="s3 card-title white-text"><b class="accent-color-text"><i class="material-icons left">event_available</i>Availabilities</b></div>
                            <div class="s2 input-field">
                                <i class="material-icons prefix">event_calendar</i>
                                <select name="filter_weekday" hx-post="{% url 'availabilities' %}" hx-trigger="change" hx-target="#availability-table" hx-swap="morph">
                                    {% for weekday in form.filter_weekday %}
                                        <option {% if data.filter_weekday == weekday.data.value %}selected{% endif %} value="{{ weekday.data.value }}">{{ weekday.data.label }}</option>
                                    {% endfor %}
                                </select>
                                <label>Weekday</label>
                            </div>
                            <div class="s2 input-field">
                                <i class="material-icons prefix">event_calendar</i>
                                <select name="filter_is_available" hx-post="{% url 'availabilities' %}" hx-trigger="change" hx-target="#availability-table" hx-swap="morph">
                                    <option value="-1">All</option>
                                    <option value="1">Available</option>
                                    <option value="0">Not available</option>
                                </select>
                                <label>Availability</label>
                            </div>
                            <div class="s2 input-field">
                                <i class="material-icons prefix">event_calendar</i>
                                <select name="filter_tendency" hx-post="{% url 'availabilities' %}" hx-trigger="change" hx-target="#availability-table" hx-swap="morph">
                                    {% for tendency in form.filter_tendency %}
                                        <option {% if data.filter_tendency == tendency.data.value %}selected{% endif %} value="{{ tendency.data.value }}">{{ tendency.data.label }}</option>
                                    {% endfor %}
                                </select>
                                <label>Tendency</label>
                            </div>
                            <div class="s3 input-field">
                                <i class="material-icons prefix">search</i>
                                <input id="id_keyword" type="search" name="keyword" {% if data.keyword %}value="{{ data.keyword }}"{% endif %} placeholder=" " hx-post="{% url 'availabilities' %}" hx-trigger="keyup delay:250ms" hx-target="#availability-table" hx-swap="morph">>
                                <label for="id_keyword">Keyword</label>
                            </div>
                        </div>
                        <div id="loader" hx-post="{% url 'availabilities' %}" hx-trigger="load once" hx-target="#availability-table" hx-swap="morph"></div>
                        <br><a class="modal-trigger btn-floating accent-color white-text right" data-target="add-modal" hx-get="{% url 'create_availability' %}" hx-target="#add-modal" hx-swap="morph"><i class="material-icons left">add</i></a>
                    </div>

                    <div id="availability-table" class="card-content card-color"></div>
                </div>
            </form>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}