{% extends "base.html" %}
{% block title %}ShiftManager - Dashboard{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3 class="light-blue-text text-darken-1">Dashboard</h3>
        <ul class="collapsible">
            <li {% if search %}class="active"{% endif %}>
                <div class="collapsible-header grey lighten-3"><i class="material-icons left">search</i>Search own shifts</div>
                <div class="collapsible-body grey lighten-5">
                    <form method="POST" action="{% url 'own_shifts' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s6 m4">
                                <i class="material-icons prefix">event_calendar</i>
                                <input id="id_filter_date" name="filter_date" type="text" {% if data.filter_date %}value="{{ data.filter_date }}"{% endif %} class="datepicker grey-text text-darken-4">
                                <label for="id_filter_date">Filter date</label>
                            </div>
                            <div class="input-field col s6 m4">
                                <i class="material-icons prefix">search</i>
                                <input id="id_keyword" type="search" name="keyword" {% if data.keyword %}value="{{ data.keyword }}"{% endif %}>
                                <label for="id_keyword">Keyword</label>
                            </div>
                        </div>
                        <button type="submit" class="waves-effect waves-light btn light-blue darken-1"><i class="material-icons left">search</i>Search own shifts</button>
                        {% if search %}
                            <a class="waves-effect waves-light btn-flat red-text text-darken-1" href="{% url 'own_shifts' %}"><i class="material-icons left">clear</i>Clear</a>
                        {% endif %}
                    </form>
                </div>
            </li>
        </ul>

        {% if search and data != None %}
            <div class="card">
                <div class="card-content">
                    <table class="striped highlight responsive-table">
                        <thead class="light-blue-text text-darken-1">
                            <tr>
                                <th>Date</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Work hours<br>Break</th>
                                <th>Department<br>Qualifications</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in page_obj %}
                            <tr {% if entry.highlight %}class="amber lighten-3"{% endif %}>
                                <td>
                                    {{ entry.get_date|date:"l" }}<br>
                                    <b>{{ entry.get_date|date:"d.m.Y" }}</b><br>
                                </td>
                                <td><b>{{ entry.get_start_time|date:"H:i" }}</b></td>
                                <td><b>{{ entry.get_end_time|date:"H:i" }}</b></td>
                                <td>{{ entry.get_work_hours|date:"H:i" }}<br><span class="grey-text text-darken-1">{{ entry.break_duration|date:"H:i" }}</span></td>
                                <td>
                                    {% if entry.employee != None and entry.employee.department != entry.department %}
                                        <span class="new badge red darken-1 z-depth-1" data-badge-caption="">
                                            <b>{{ entry.department }}</b>
                                        </span>
                                    {% else %}
                                        {{ entry.department }}
                                    {% endif %}<br>
                                    {% for qualification in entry.get_qualifications %}
                                        <span class="new badge amber darken-1 black-text z-depth-1" data-badge-caption="">
                                            <b>{{ qualification.qualification.name }}</b>
                                        </span>
                                    {% endfor %}
                                </td>
                                <td>{{ entry.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} ({{ entries }} entries)</span>
            <ul class="pagination center">
                {% if page_obj.has_previous %}
                    <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="disabled grey-text text-lighten-1"><a><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="active light-blue darken-1"><a>{{ page_obj.number }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                    <li class="disabled grey-text text-lighten-1"><a><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        {% endif %}

        {% if search == False and data == None %}
            <div class="card">
                <div class="card-content">
                    <div class="card-title light-blue-text text-darken-1"><b>Upcoming shifts</b><br>now - {{ upcoming_shifts.filter_end|date:"l, d.m.Y" }}</div>
                    <table class="striped highlight responsive-table">
                        <thead class="light-blue-text text-darken-1">
                            <tr>
                                <th>Date</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Work hours<br>Break</th>
                                <th>Department<br>Qualifications</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in upcoming_shifts %}
                            <tr {% if entry.highlight %}class="amber lighten-3"{% endif %}>
                                <td>
                                    {{ entry.get_date|date:"l" }}<br>
                                    <b>{{ entry.get_date|date:"d.m.Y" }}</b><br>
                                </td>
                                <td><b>{{ entry.get_start_time|date:"H:i" }}</b></td>
                                <td><b>{{ entry.get_end_time|date:"H:i" }}</b></td>
                                <td>{{ entry.get_work_hours|date:"H:i" }}<br><span class="grey-text text-darken-1">{{ entry.break_duration|date:"H:i" }}</span></td>
                                <td>
                                    {% if entry.employee != None and entry.employee.department != entry.department %}
                                        <span class="new badge grey darken-1 z-depth-1" data-badge-caption="">
                                            <b>{{ entry.department }}</b>
                                        </span>
                                    {% else %}
                                        {{ entry.department }}
                                    {% endif %}<br>
                                    {% for qualification in entry.get_qualifications %}
                                        <span class="new badge amber darken-1 black-text z-depth-1" data-badge-caption="">
                                            <b>{{ qualification.qualification.name }}</b>
                                        </span>
                                    {% endfor %}
                                </td>
                                <td>{{ entry.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if timeline_upcoming != None %}
                        <br><img class="materialboxed" src='data:image/png;base64,{{ timeline_upcoming }}' style="max-width: 100%">
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="card-title light-blue-text text-darken-1"><b>Recent shifts</b><br>{{ recent_shifts.filter_start|date:"l, d.m.Y" }} - now</div>
                    <table class="striped highlight responsive-table">
                        <thead class="light-blue-text text-darken-1">
                            <tr>
                                <th>Date</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Work hours<br>Break</th>
                                <th>Department<br>Qualifications</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in recent_shifts %}
                            <tr {% if entry.highlight %}class="amber lighten-3"{% endif %}>
                                <td>
                                    {{ entry.get_date|date:"l" }}<br>
                                    <b>{{ entry.get_date|date:"d.m.Y" }}</b><br>
                                </td>
                                <td><b>{{ entry.get_start_time|date:"H:i" }}</b></td>
                                <td><b>{{ entry.get_end_time|date:"H:i" }}</b></td>
                                <td>{{ entry.get_work_hours|date:"H:i" }}<br><span class="grey-text text-darken-1">{{ entry.break_duration|date:"H:i" }}</span></td>
                                <td>
                                    {% if entry.employee != None and entry.employee.department != entry.department %}
                                        <span class="new badge red darken-1 z-depth-1" data-badge-caption="">
                                            <b>{{ entry.department }}</b>
                                        </span>
                                    {% else %}
                                        {{ entry.department }}
                                    {% endif %}<br>
                                    {% for qualification in entry.get_qualifications %}
                                        <span class="new badge amber darken-1 black-text z-depth-1" data-badge-caption="">
                                            <b>{{ qualification.qualification.name }}</b>
                                        </span>
                                    {% endfor %}
                                </td>
                                <td>{{ entry.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if timeline_recent != None %}
                        <br><img class="materialboxed" src='data:image/png;base64,{{ timeline_recent }}' style="max-width: 100%">
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="card-title light-blue-text text-darken-1"><b>Overview work hours</b></div>
                    <table class="striped highlight responsive-table">
                        <thead class="light-blue-text text-darken-1">
                            <tr>
                                <th>Calendar week</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Shift count</th>
                                <th>Work hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for week in weeks %}
                                <tr>
                                    <td><b>{{ week.name }}</b></td>
                                    <td>{{ week.start|date:"d.m.Y" }}</td>
                                    <td>{{ week.end|date:"d.m.Y" }}</td>
                                    <td>{{ week.shift_count }} shifts</td>
                                    <td>{{ week.work_hours }}/{{ user.work_hours }} hours</td>
                                </tr>
                            {% endfor %}
                            <tr class="grey lighten-3">
                                <td colspan="3"><b>Total</b><br>{{ weeks|length }} weeks</td>
                                <td>{{ shift_count_total }} shifts</td>
                                <td>{{ work_hours_total }}/{{ target_hours }} hours</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}