{% extends "base.html" %}
{% block title %}ShiftManager - Dashboard{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <br><br><br>
        <div class="card card-color">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#upcoming">Upcoming Shifts</a></li>
                        <li class="tab col s3"><a href="#recent">Recent Shifts</a></li>
                        <li class="tab col s3"><a href="#shift-search" hx-get="{% url 'search_own_shifts' %}" hx-trigger="click once" hx-target="#search-results" hx-swap="morph">Search Shifts</a></li>
                        <li class="tab col s3"><a href="#workhours">Overview work hours</a></li>
                    </ul>
                </div>
            </div>
            <div id="upcoming">
                <div class="card-content header-color card-title white-text">
                    <b class="accent-color-text">Upcoming shifts</b> now until {{ upcoming_shifts.filter_end|date:"l, d.m.Y" }}
                </div>
                <div class="card-content">
                    {% if upcoming_shifts.count > 0 %}
                        <table class="striped highlight responsive-table">
                            <thead class="header-color white-text">
                            <tr>
                                <th>Date</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Work hours<br>Break</th>
                                <th>Department<br>Qualifications</th>
                                <th>Note</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in upcoming_shifts %}
                                <tr {% if entry.highlight %}class="amber lighten-3"{% endif %}>
                                    <td>
                                        {{ entry.get_date|date:"l" }}<br>
                                        <b>{{ entry.get_date|date:"d.m.Y" }}</b><br>
                                    </td>
                                    <td><b>{{ entry.get_start_time|date:"H:i" }}</b></td>
                                    <td><b>{{ entry.get_end_time|date:"H:i" }}</b></td>
                                    <td>{{ entry.get_work_hours|date:"H:i" }}<br><span class="grey-text text-darken-1">{{ entry.break_duration|date:"H:i" }}</span></td>
                                    <td>
                                        {% if entry.employee != None and entry.employee.department != entry.department %}
                                            <span class="new badge grey darken-1 z-depth-1" data-badge-caption="">
                                                <b>{{ entry.department }}</b>
                                            </span>
                                        {% else %}
                                            {{ entry.department }}
                                        {% endif %}<br>
                                        {% for qualification in entry.get_qualifications %}
                                            <span class="new badge amber darken-1 black-text z-depth-1" data-badge-caption="">
                                                <b>{{ qualification.qualification.name }}</b>
                                            </span>
                                        {% endfor %}
                                    </td>
                                    <td>{{ entry.note }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if timeline_upcoming != None %}
                            <br><img class="materialboxed" src='data:image/png;base64,{{ timeline_upcoming }}' style="max-width: 100%">
                        {% endif %}
                    {% else %}
                        <h6><i class="material-icons accent-color-text left">info</i>No upcoming shifts</h6>
                    {% endif %}
                </div>
            </div>

            <div id="recent">
                <div class="card-content header-color card-title white-text"><b class="accent-color-text">Recent shifts</b> {{ recent_shifts.filter_start|date:"l, d.m.Y" }} until now</div>
                <div class="card-content">
                    {% if recent_shifts.count > 0 %}
                        <table class="striped highlight responsive-table">
                            <thead class="header-color white-text">
                            <tr>
                                <th>Date</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Work hours<br>Break</th>
                                <th>Department<br>Qualifications</th>
                                <th>Note</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in recent_shifts %}
                                <tr {% if entry.highlight %}class="amber lighten-3"{% endif %}>
                                    <td>
                                        {{ entry.get_date|date:"l" }}<br>
                                        <b>{{ entry.get_date|date:"d.m.Y" }}</b><br>
                                    </td>
                                    <td><b>{{ entry.get_start_time|date:"H:i" }}</b></td>
                                    <td><b>{{ entry.get_end_time|date:"H:i" }}</b></td>
                                    <td>{{ entry.get_work_hours|date:"H:i" }}<br><span class="grey-text text-darken-1">{{ entry.break_duration|date:"H:i" }}</span></td>
                                    <td>
                                        {% if entry.employee != None and entry.employee.department != entry.department %}
                                            <span class="new badge red darken-1 z-depth-1" data-badge-caption="">
                                                <b>{{ entry.department }}</b>
                                            </span>
                                        {% else %}
                                            {{ entry.department }}
                                        {% endif %}<br>
                                        {% for qualification in entry.get_qualifications %}
                                            <span class="new badge amber darken-1 black-text z-depth-1" data-badge-caption="">
                                                <b>{{ qualification.qualification.name }}</b>
                                            </span>
                                        {% endfor %}
                                    </td>
                                    <td>{{ entry.note }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if timeline_recent != None %}
                            <br><img class="materialboxed" src='data:image/png;base64,{{ timeline_recent }}' style="max-width: 100%">
                        {% endif %}
                    {% else %}
                        <h6><i class="material-icons accent-color-text left">info</i>No recent shifts</h6>
                    {% endif %}
                </div>
            </div>

            <div id="shift-search">
                <form hx-post="{% url 'search_own_shifts' %}" hx-target="#search-results" hx-swap="morph">
                    {% csrf_token %}
                    <div class="card-content header-color">
                        <div class="row" style="gap: 1em">
                            <div class="s4 m4 card-title" style="top: 90%">
                                <b class="accent-color-text">Search filters</b>
                            </div>
                            <div class="s4 m4 input-field">
                                <i class="material-icons prefix">event_calendar</i>
                                <input id="id_filter_date" name="filter_date" type="text" class="datepicker" placeholder=" " hx-post="{% url 'search_own_shifts' %}" hx-trigger="click, change" hx-target="#search-results" hx-swap="morph">
                                <label for="id_filter_date">Filter week of date</label>
                            </div>
                            <div class="s4 m4 input-field">
                                <i class="material-icons prefix">search</i>
                                <input id="id_keyword" type="search" name="keyword" placeholder=" " hx-post="{% url 'search_own_shifts' %}" hx-trigger="keyup delay:250ms" hx-target="#search-results" hx-swap="morph">
                                <label for="id_keyword">Keyword</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div id="search-results"></div>
                    </div>
                </form>
            </div>

            <div id="workhours">
                <div class="card-content header-color card-title white-text"><b class="accent-color-text">Overview work hours</b> last 10 weeks</div>
                <div class="card-content">
                    <table class="striped highlight responsive-table">
                        <thead class="header-color white-text">
                        <tr>
                            <th>Calendar week</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Shift count</th>
                            <th>Work hours</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for week in weeks %}
                            <tr>
                                <td><b>{{ week.name }}</b></td>
                                <td>{{ week.start|date:"d.m.Y" }}</td>
                                <td>{{ week.end|date:"d.m.Y" }}</td>
                                <td>{% if week.shift_count > 0 %}{{ week.shift_count }} shifts{% else %}none{% endif %}</td>
                                {% if user.work_hours %}
                                    <td>{{ week.work_hours|floatformat:"g" }}/{{ user.work_hours|floatformat:"g" }} hours</td>
                                {% else %}
                                    <td>{{ week.work_hours|floatformat:"g" }} hours</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <tr class="accent-color">
                            <td colspan="3"><b>Total</b><br>{{ weeks|length }} weeks</td>
                            <td><b>{{ shift_count_total }} shifts</b></td>
                            {% if target_hours > 0 %}
                                <td><b>{{ work_hours_total|floatformat:"g" }}/{{ target_hours }} hours</b></td>
                            {% else %}
                                <td><b>{{ work_hours_total|floatformat:"g" }} hours</b></td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}