{% extends "base.html" %}
{% block title %}ShiftManager - Shiftplan{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <br><br><br>
        <div id="shiftplan-content">
            <form method="POST" target="_blank">
                {% csrf_token %}
                <div class="card card-color">
                    <div class="card-content header-color">
                        <div class="row" style="gap: 1em">
                            <div class="s4 card-title"><b class="accent-color-text"><i class="material-icons left">event_note</i>Shiftplan</b></div>
                            <div class="s4 input-field">
                                <i class="material-icons prefix">event_calendar</i>
                                <input id="id_filter_date" name="filter_date" type="text" {% if data.filter_date %}value="{{ data.filter_date }}"{% endif %} class="datepicker grey-text text-darken-4" placeholder=" " hx-post="{% url 'shiftplan' %}" hx-trigger="change" hx-target="#shiftplan-display" hx-swap="morph">
                                <label for="id_filter_date">Filter date (default: today)</label>
                            </div>
                            <div class="s4 input-field">
                                <i class="material-icons prefix">local_offer</i>
                                <select name="department" hx-post="{% url 'shiftplan' %}" hx-trigger="change" hx-target="#shiftplan-display" hx-swap="morph">
                                    {% for entry in departments %}
                                        <option value="{{ entry.id }}" {% if entry.id == department.id %}selected{% endif %}>{{ entry }}</option>
                                    {% endfor %}
                                </select>
                                <label>Department</label>
                            </div><br>
                        </div>
                        <div id="loader" hx-post="{% url 'shiftplan' %}" hx-trigger="load once" hx-target="#shiftplan-display" hx-swap="morph"></div>
                        <button type="submit" name="create_pdf" class="btn-floating accent-color white-text tooltipped right" action="{% url 'shiftplan' %}" style="margin-left: 1%" data-position="bottom" data-tooltip="Download shiftplan"><i class="material-icons left">download</i></button>
                    </div><br>
                    <div class="card-content card-color">
                        <div id="shiftplan-display">
                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}