{% extends "base.html" %}
{% block title %}ShiftManager - {{ selected_department.name }} details{% endblock %}

{% block content %}
    {% if user.is_authorized %}
        <div id="delete-modal" class="modal content-section red darken-1 white-text">
            <div class="modal-content">
                <h5><b>Delete {{ selected_department }}</b></h5>
                <p>Are you sure you really want to delete {{ selected_department }}? All assigned data will be gone forever and may cause corrupted past data. It is not advised to remove a department if data is associated to it.</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-light btn-flat red darken-1 white-text"><i class="material-icons left">close</i>Abort and close</a>
                <a class="waves-effect waves-light btn-flat red-text text-darken-1" href="{% url 'delete_department' selected_department.id %}"><i class="material-icons left">delete_forever</i>Yes, delete anyway</a>
            </div>
        </div>

        <h3 class="light-blue-text text-darken-1">{{ selected_department.name }} details</h3>
        <a class="waves-effect waves-light btn amber darken-1 right" href="{% url 'departments' %}"><i class="material-icons left">keyboard_backspace</i>Back</a><br><br>
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">label</i>
                        <label for="id_name">Name</label>
                        <input type="text" name="name" autofocus autocapitalize="none" maxlength="25" disabled id="id_name" value="{{ selected_department.name }}" class="grey-text text-darken-4">
                    </div>
                </div>
                {% if selected_department.description != '' %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">local_offer</i>
                        <label for="id_description">Description</label>
                        <textarea name="description" autocapitalize="none" disabled id="id_description" class="materialize-textarea grey-text text-darken-4">{{ selected_department.description }}</textarea>
                    </div>
                </div>
                {% endif %}
                {% if associated_qualifications.count > 0 %}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">tag</i>
                            <div class="chips chips-initial">
                                {% for entry in associated_qualifications %}
                                    <a class="chip light-blue darken-1 white-text">
                                        {{ entry.qualification.name }}
                                    </a>
                                {% endfor %}
                            </div>
                            <span class="helper-text grey-text text-lighten-1">Qualifications</span>
                        </div>
                    </div>
                {% endif %}
                {% if user.is_admin %}<a class="modal-trigger waves-effect waves-light btn-flat red-text text-darken-1" data-target="delete-modal"><i class="material-icons left">delete_forever</i>Delete</a>{% endif %}
            </div>
        </div>

        {% if associated_employees.count > 0 %}
            <div class="card">
                <div class="card-content">
                    <div class="card-title light-blue-text text-darken-1"><b>Associated Employees</b></div>
                    <table class="striped highlight responsive-table">
                        <thead class="light-blue-text text-darken-1">
                            <tr>
                                <th>First Name<br>Last Name</th>
                                <th>External</th>
                                <th>Work hours</th>
                                <th>Qualifications</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in associated_employees %}
                            <tr>
                                <td>{{ entry.first_name }}<br><b>{{ entry.last_name }}</b></td>
                                <td>{% if entry.is_external == True %}Yes{% endif %}</td>
                                <td>{% if entry.work_hours != None %}{{ entry.work_hours }} hours / week{% endif %}</td>
                                <td>
                                    {% for employee in entry.qualifications %}
                                        <span class="new badge amber darken-1 black-text" data-badge-caption="">
                                            <b>{{ employee.qualification.name }}</b>
                                        </span>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="grey lighten-3">
                                <td><b>Total</b><br>{{ associated_employees.count }} employees</td>
                                <td></td>
                                <td>{% if associated_employees_work_hours > 0 %}{{ associated_employees_work_hours }} hours / week{% endif %}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}