{% extends "base.html" %}
{% block title %}ShiftManager - Reset password{% endblock %}

{% block content %}
    <h3 class="light-blue-text text-darken-1">Reset password</h3>
    <a class="waves-effect waves-light btn amber darken-1 right" href="{% url 'base' %}"><i class="material-icons left">keyboard_backspace</i>Back</a><br><br>
    <div class="card">
        <form method="POST">
            {% csrf_token %}
            <div class="card-content">
                <div class="row">
                    {{ form }}
                </div>
                <button type="submit" class="waves-effect waves-light btn light-blue darken-1"><i class="material-icons left">update</i>Reset password</button>
            </div>
        </form>
    </div>
{% endblock %}