{% extends "base.html" %}
{% block title %}ShiftManager - Password reset complete{% endblock %}

{% block content %}
    <h3 class="light-blue-text text-darken-1">Password reset complete</h3>
    <div class="card">
        <div class="card-content">
            <p>Your password has been set. You may go ahead and log in now.</p>
            <br><a class="waves-effect waves-light btn light-blue darken-1" href="{% url 'base' %}"><i class="material-icons left">home</i>Home</a><br>
        </div>
    </div>
{% endblock %}