{% extends "base.html" %}
{% block title %}ShiftManager - Password reset sent{% endblock %}

{% block content %}
    <h3 class="light-blue-text text-darken-1">Password reset sent</h3>
    <div class="card">
        <div class="card-content">
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            <br><a class="waves-effect waves-light btn light-blue darken-1" href="{% url 'base' %}"><i class="material-icons left">home</i>Home</a><br>
        </div>
    </div>
{% endblock %}