{% extends "base.html" %}
{% block title %}ShiftManager - Reset password{% endblock %}

{% block content %}
    <h3 class="light-blue-text text-darken-1">Reset password</h3>
    <a class="waves-effect waves-light btn amber darken-1 right" href="{% url 'base' %}"><i class="material-icons left">keyboard_backspace</i>Back</a><br><br>
    <div class="card">
        <form method="POST">
            {% csrf_token %}
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mail</i>
                        <label for="id_email">Email</label>
                        <input type="email" name="email" autofocus autocapitalize="none" autocomplete="email" maxlength="254" required id="id_email" class="grey-text text-darken-4">
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn light-blue darken-1"><i class="material-icons left">mail</i>Send E-Mail</button>
            </div>
        </form>
    </div>
{% endblock %}