<div id="shiftplan-table">
    <div class="card-content card-color">
        <table class="striped highlight responsive-table">
            <thead class="header-color white-text">
            <tr>
                <th class="marker-regular-bottom" style="font-weight: normal; width: 16%">Week<br>Department</th>
                <th class="center marker-regular-bottom" style="font-weight: normal; width: 12%">Monday<br>date</th>
                <th class="center marker-regular-bottom" style="font-weight: normal; width: 12%">Tuesday<br>date</th>
                <th class="center marker-regular-bottom" style="font-weight: normal; width: 12%">Wednesday<br>date</th>
                <th class="center marker-regular-bottom" style="font-weight: normal; width: 12%">Thursday<br>date</th>
                <th class="center marker-regular-bottom" style="font-weight: normal; width: 12%">Friday<br>date</th>
                <th class="center marker-saturday-bottom" style="font-weight: normal; width: 12%">Saturday<br>date</th>
                <th class="center marker-sunday-bottom" style="font-weight: normal; width: 12%">Sunday<br>date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Admin User</b><br><span class="right small">0/30 hours</span></td>
                <td class="center"><a class="header-color-text"><b>12:00-18:00</b><br><span class="left"><small>5.5 hours</small></span><span class="right"><small>30 min</small></span><br><span><small>Test note</small></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>