{% extends "base.html" %}
{% block title %}ShiftManager - My holidays{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3 class="light-blue-text text-darken-1">My holidays</h3>
        <a class="waves-effect waves-light btn light-blue darken-1 right" href="{% url 'add_own_holiday' %}"><i class="material-icons left">add</i>Create holiday</a><br><br>
        <div class="card">
            <div class="card-content">
                <table class="striped highlight responsive-table">
                    <thead class="grey darken-1 white-text">
                        <tr>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Note</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in all_entries %}
                        <tr>
                            <td>{{ entry.start_date|date:"l" }}<br>{{ entry.start_date }}</td>
                            <td>{{ entry.end_date|date:"l" }}<br>{{ entry.end_date }}</td>
                            <td>{{ entry.get_duration }} days</td>
                            <td>
                                {% if entry.status == 0 %}
                                    <i class="material-icons left grey-text text-darken-1">mail</i>{{ entry.get_status_display }}
                                {% elif entry.status == 1 %}
                                    <i class="material-icons left grey-text text-darken-1">drafts</i>{{ entry.get_status_display }}
                                {% elif entry.status == 2 %}
                                    <i class="material-icons left red-text text-darken-1">close</i>{{ entry.get_status_display }}
                                {% else %}
                                    <i class="material-icons left light-green-text text-darken-1">done</i>{{ entry.get_status_display }}
                                {% endif %}
                            </td>
                            <td>{{ entry.note }}</td>
                            <td>
                                <a class="waves-effect waves-light btn amber darken-1" href="{% url 'edit_own_holiday' entry.id %}"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}