<div id="own-wishes-list">
    <table class="striped highlight responsive-table">
        <thead class="header-color white-text">
        <tr>
            <th>Date</th>
            <th>Available</th>
            <th>Start</th>
            <th>End</th>
            <th>Tendency</th>
            <th>Note</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in all_entries %}
            <tr>
                <td>{{ entry.date|date:"l" }}<br>{{ entry.date }}</td>
                <td>
                    {% if entry.is_available %}
                        <i class="material-icons light-green-text text-darken-1">done</i>
                    {% else %}
                        <i class="material-icons red-text text-darken-1">close</i>
                    {% endif %}
                </td>
                <td>{{ entry.start_time|date:"H:i" }}</td>
                <td>{{ entry.end_time|date:"H:i" }}</td>
                <td>{{ entry.get_tendency_display }}</td>
                <td>{{ entry.note }}</td>
                <td>
                    <a class="modal-trigger waves-effect waves-light btn amber darken-1" data-target="edit-modal" hx-get="{% url 'edit_own_wish' entry.id %}" hx-target="#edit-modal-content" hx-swap="morph"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>