:root {
  --main-color: #039BE5;
  --accent-color: #FFB300;
  --accent-color-lighten: #FFE082;
  --header-color: #424242;
}

.main-color {
  background-color: var(--main-color) !important;
}

.main-color-text {
  color: var(--main-color) !important;
}

.accent-color {
  background-color: var(--accent-color) !important;
}

.accent-color-text {
  color: var(--accent-color) !important;
}

.card-color {
  background-color: white !important;
}

.header-color {
  background-color: var(--header-color) !important;
}

body {
  background-color: white
}

/*
.fab-top-left {
  position: fixed;
  left: 23px;
  top: 23px;
  right: auto;
  bottom: auto;
}
 */

.tabs {
  background-color: var(--header-color);
}

.tabs .tab a {
  color: #EEEEEE !important;
}

.tabs .tab a.active {
  color:white !important;
  font-weight: bold;
}

.tabs .indicator {
  background-color: var(--accent-color) !important;
}

.tabs .tab a:hover{
  background-color: #EFEFEF;
  color: var(--header-color) !important;
  font-weight: bold;
}

input {
  border-bottom: white !important;
  box-shadow: 0 1px 0 0 #212121 !important;
  background-color: white !important;
}

input:focus {
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
}

.input-field .prefix {
  color: #212121 !important;
}

.input-field .prefix.active {
  color: var(--main-color) !important;
}

textarea:focus {
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
}

label.active {
  color: var(--main-color) !important;
}

.select-dropdown li.disabled, .select-dropdown li.disabled > span {
  color: #BDBDBD !important;
}

.dropdown-content li>a {
  color: #212121 !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: var(--main-color) !important;
}

.select-content li>span {
  color: var(--accent-color) !important;
}

.select-content li>a {
  color: var(--accent-color) !important;
}

.select-wrapper input.select-dropdown {
  color: #BDBDBD !important;
}

.select-dropdown li.optgroup>span {
  color: #BDBDBD !important;
}

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}

.datepicker-date-display {
  background-color: var(--main-color) !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: var(--main-color) !important;
}

.datepicker-table td.is-today {
  color: var(--main-color) !important;
}

.datepicker-table td.is-selected {
  background-color: var(--main-color) !important;
  color: white !important;
}

.timepicker-digital-display {
  background-color: var(--main-color) !important;
}

.timepicker-cancel, .timepicker-clear, .timepicker-close, .timepicker-done {
  color: var(--main-color) !important;
}

.timepicker-tick:hover {
    background-color: var(--accent-color-lighten);
}

.timepicker-canvas line {
    stroke: var(--accent-color) !important;
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: var(--accent-color) !important;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li {
  border: 0px !important;
  border-bottom: 0px !important;
  box-shadow: none !important;
}

.collection.with-header .collection-header, .collection .collection-item, .collection {
  border: 0px !important;
  border-bottom: 0px !important;
  box-shadow: none !important;
}

.oneline {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.parallax-container {
  height: 350px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

[type="checkbox"]:checked + span:not(.lever)::before {
  border-right: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}