{% extends "base.html" %}
{% block title %}ShiftManager - Demand{% endblock %}

{% block content %}
    {% if user.is_authorized %}
        <div id="add-modal" class="modal">
            <div id="add-modal-content"></div>
        </div>
        <div id="edit-modal" class="modal">
            <div id="edit-modal-content"></div>
        </div>
        <br><br><br>
        <div class="card card-color">
            <form>
                {% csrf_token %}
                <div class="card-content header-color">
                    <div class="row" style="gap: 1em">
                    <div class="s4 card-title"><b class="accent-color-text"><i class="material-icons left">date_range</i>Demand</b></div>
                    <div class="s4 input-field">
                        <i class="material-icons prefix">event</i>
                        <select name="weekday" hx-post="{% url 'demand' %}" hx-trigger="change" hx-target="#demand-table" hx-swap="morph">
                            <option value="0">All weekdays</option>
                            {% for weekday in form.weekday %}
                                <option value="{{ weekday.data.value }}" {% if selected_demand.weekday == weekday.data.value %}selected{% endif %}>{{ weekday.data.label }}</option>
                            {% endfor %}
                        </select>
                        <label>Weekday</label>
                    </div>
                    <div class="s4 input-field">
                        <i class="material-icons prefix">local_offer</i>
                        <select name="department" hx-post="{% url 'demand' %}" hx-trigger="change" hx-target="#demand-table" hx-swap="morph">
                            <option value="0">All departments</option>
                            {% for entry in departments %}
                                <option value="{{ entry.id }}" {% if entry.id == department.id %}selected{% endif %}>{{ entry }}</option>
                            {% endfor %}
                        </select>
                        <label>Department</label>
                    </div>
                </div>
                    <div id="loader" hx-post="{% url 'demand' %}" hx-trigger="load once" hx-target="#demand-table" hx-swap="morph"></div><br>
                    <a class="modal-trigger btn-floating accent-color white-text right" data-target="add-modal" hx-get="{% url 'create_demand' %}" hx-target="#add-modal-content" hx-swap="morph"><i class="material-icons left">add</i></a>
                </div>
                <div id="demand-table" class="card-content card-color"></div>
            </form>
        </div>

    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}