{% extends "base.html" %}
{% block title %}ShiftManager - Edit {{ selected_qualification.name }}{% endblock %}

{% block content %}
    {% if user.is_admin %}
        <div id="delete-modal" class="modal content-section red darken-1 white-text">
            <div class="modal-content">
                <h5><b>Delete {{ selected_qualification }}</b></h5>
                <p>Are you sure you really want to delete {{ selected_qualification }}? All assigned data will be gone forever and may cause corrupted past data. It is advised to remove qualifications from associated objects instead of deleting them.</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-light btn-flat red darken-1 white-text"><i class="material-icons left">close</i>Abort and close</a>
                <a class="waves-effect waves-light btn-flat red-text text-darken-1" href="{% url 'delete_qualification' selected_qualification.id %}"><i class="material-icons left">delete_forever</i>Yes, delete anyway</a>
            </div>
        </div>

        <h3 class="light-blue-text text-darken-1">Edit {{ selected_qualification.name }}</h3>
        <a class="waves-effect waves-light btn amber darken-1 right" href="{% url 'qualifications' %}"><i class="material-icons left">keyboard_backspace</i>Back</a><br><br>
        <div class="card">
            <form method="POST" action="{% url 'edit_qualification' selected_qualification.id %}">
                {% csrf_token %}
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">label</i>
                            <label for="id_name">Name</label>
                            <input type="text" name="name" autofocus autocapitalize="none" maxlength="25" required id="id_name" value="{{ selected_qualification.name }}" class="grey-text text-darken-4">
                            <span class="helper-text grey-text text-lighten-1" data-error="wrong" data-success="right">required</span>
                        </div>
                        <div class="input-field col s2">
                            <label>
                                <input type="checkbox" {% if selected_qualification.is_important %}checked="checked"{% endif %} name="is_important" />
                                <span>Important</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">local_offer</i>
                            <label for="id_description">Description</label>
                            <textarea name="description" autocapitalize="none" id="id_description" class="materialize-textarea grey-text text-darken-4">{{ selected_qualification.description }}</textarea>
                        </div>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn light-blue darken-1"><i class="material-icons left">edit</i>Update qualification</button>
                    <a class="modal-trigger waves-effect waves-light btn-flat red-text text-darken-1" data-target="delete-modal"><i class="material-icons left">delete_forever</i>Delete</a>
                </div>
            </form>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}