{% extends "base.html" %}
{% block title %}ShiftManager - Qualifications{% endblock %}

{% block content %}
    {% if user.is_authorized %}
        <h3 class="light-blue-text text-darken-1">Qualifications</h3>
        {% if user.is_admin %}<a class="waves-effect waves-light btn light-blue darken-1 right" href="{% url 'create_qualification' %}"><i class="material-icons left">add</i>Create qualification</a><br><br>{% endif %}
        <div class="card">
            <div class="card-content">
                <table class="striped highlight responsive-table">
                    <thead class="light-blue-text text-darken-1">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Important</th>
                            <th>Associated Departments</th>
                            <th>Associated Employees</th>
                            <th>View</th>
                            {% if user.is_admin %}
                                <th>Edit</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in all_entries %}
                        <tr>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.description }}</td>
                            <td>
                                {% if entry.is_important %}
                                    <i class="material-icons light-green-text text-darken-1">done</i>
                                {% else %}
                                    <i class="material-icons red-text text-darken-1">close</i>
                                {% endif %}
                            </td>
                            <td>
                                {% if entry.departments.count > 0 %}{{ entry.departments.count }}{% endif %}
                            </td>
                            <td>
                                {% if entry.employees.count > 0 %}{{ entry.employees.count }}{% endif %}
                            </td>
                            <td>
                                <a class="waves-effect waves-light btn amber darken-1" href="{% url 'view_qualification' entry.id %}"><i class="material-icons">search</i></a>
                            </td>
                            {% if user.is_admin %}
                                <td>
                                    <a class="waves-effect waves-light btn amber darken-1" href="{% url 'edit_qualification' entry.id %}"><i class="material-icons">edit</i></a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}