{% extends "base.html" %}
{% block title %}ShiftManager - Day templates{% endblock %}

{% block content %}
    {% if user.is_authorized %}
        <h3 class="light-blue-text text-darken-1">Day templates</h3>
        {% if user.is_admin %}<a class="waves-effect waves-light btn light-blue darken-1 right" href="{% url 'create_day_template' %}"><i class="material-icons left">add</i>Create day template</a><br><br>{% endif %}
        <div class="card">
            <div class="card-content">
                <table class="striped highlight responsive-table">
                    <thead class="grey darken-1 white-text">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Assigned shifts</th>
                            <th>View</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in all_entries %}
                        <tr>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.description }}</td>
                            <td>{{ entry.get_shifts.count }}</td>
                            <td>
                                <a class="waves-effect waves-light btn amber darken-1" href="{% url 'view_day_template' entry.id %}"><i class="material-icons">search</i></a>
                            </td>
                            <td>
                                <a class="waves-effect waves-light btn amber darken-1" href="{% url 'edit_day_template' entry.id %}"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}