<div id="view-modal-content">
    <script>
        var paste_modal = document.querySelector('#paste-modal');
        var modal_instance1 = M.Modal.init(paste_modal);
        var add_modal = document.querySelector('#add-shift-template-modal');
        var modal_instance2 = M.Modal.init(add_modal);

        var picker_elems = document.querySelectorAll('.datepicker');
        var picker_instances = M.Datepicker.init(picker_elems, {
            format: 'yyyy-mm-dd',
            firstDay: 1,
            showClearBtn: true
        });
    </script>

    <div id="add-shift-template-modal" class="modal content-section card-color">
        <div class="modal-content">
            <h5 class="header-color-text"><b>Add Shift template</b></h5>
            <table class="striped highlight responsive-table">
                <thead class="header-color white-text">
                    <tr>
                        <th>Name</th>
                        <th>Start<br>End</th>
                        <th>Work hours<br>Break</th>
                        <th>Department<br>Qualifications</th>
                        <th>Note</th>
                        <th>Assign</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in non_associated_shift_templates %}
                        <tr>
                            <td><b>{{ entry.name }}</b></td>
                            <td><b>{{ entry.start_time|date:"H:i" }}</b><br><b>{{ entry.end_time|date:"H:i" }}</b></td>
                            <td>{{ entry.get_work_hours|date:"H:i" }}<br><span class="grey-text text-darken-1">{{ entry.break_duration|date:"H:i" }}</span></td>
                            <td>
                                {{ entry.department }}<br>
                                {% for qualification in entry.get_qualifications %}
                                    <span class="new badge grey darken-1 white-text z-depth-1" data-badge-caption="">
                                        <b>{{ qualification.qualification.name }}</b>
                                    </span>
                                {% endfor %}
                            </td>
                            <td>{{ entry.note }}</td>
                            <td><a class="waves-effect waves-light btn accent-color" hx-get="{% url 'add_shift_template' selected_day_template.id entry.id %}" hx-target="#view-modal-content" hx-swap="morph" onclick="M.Modal.getInstance(document.querySelector('#add-shift-template-modal')).close();"><i class="material-icons">add</i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="paste-modal" class="modal content-section card-color" style="width: 75%">
        <form>
            <div class="modal-content">
                {% csrf_token %}
                <h5><b>Paste {{ selected_day_template.name }} to date</b></h5>
                <div class="row" style="gap: 1em">
                    <div class="s8 input-field">
                        <i class="material-icons prefix">event_calendar</i>
                        <input id="id_to_date" name="to_date" type="text" class="datepicker" placeholder=" " required>
                        <label for="id_to_date">*Date</label>
                    </div>
                </div>
                <p>Pasting the template will result in adding the assigned Shift templates to the selected day as additional shifts.</p>
            </div>
            <div class="modal-footer header-color" style="margin-top: 20%">
                <a class="waves-effect waves-light btn accent-color white-text" onclick="M.Modal.getInstance(document.querySelector('#paste-modal')).close(); M.Modal.getInstance(document.querySelector('#view-modal')).close();" hx-post="{% url 'paste_to_date' selected_day_template.id %}" hx-target="#day-template-table" hx-swap="morph"><i class="material-icons left">content_copy</i>Paste</a>
            </div>
        </form>
    </div>

    <div class="modal-content card-color">
        <h5><b class="header-color-text">Shift templates for {{ selected_day_template.name }}</b></h5>
        <br>
        {% if associated_shift_templates.count > 0 %}
            <table class="striped highlight responsive-table">
                <thead class="header-color white-text">
                <tr>
                    <th>Name</th>
                    <th>Start<br>End</th>
                    <th>Work hours<br>Break</th>
                    <th>Department<br>Qualifications</th>
                    <th>Note</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in associated_shift_templates %}
                    <tr>
                        <td><b>{{ entry.shift_template.name }}</b></td>
                        <td><b>{{ entry.shift_template.start_time|date:"H:i" }}</b><br><b>{{ entry.shift_template.end_time|date:"H:i" }}</b></td>
                        <td>{{ entry.shift_template.get_work_hours|date:"H:i" }}<br><span class="grey-text text-darken-1">{{ entry.shift_template.break_duration|date:"H:i" }}</span></td>
                        <td>
                            {{ entry.shift_template.department }}<br>
                            {% for qualification in entry.shift_template.get_qualifications %}
                                <span class="new badge grey darken-1 white-text z-depth-1" data-badge-caption="">
                                    <b>{{ qualification.qualification.name }}</b>
                                </span>
                            {% endfor %}
                        </td>
                        <td>{{ entry.shift_template.note }}</td>
                        <td>
                            <a class="waves-effect waves-light btn-flat warning-color-text" hx-get="{% url 'remove_shift_template' selected_day_template.id entry.shift_template.id %}" hx-target="#view-modal-content" hx-swap="morph"><i class="material-icons">delete_forever</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h6><i class="material-icons accent-color-text left">info</i>No Shift templates assigned</h6>
        {% endif %}
        <br><br><br><img src='data:image/png;base64,{{ timeline }}' style="max-width: 100%">
    </div>
    <div class="modal-footer header-color" style="margin-top: 10%">
        <a class="modal-trigger btn-flat accent-color-text" data-target="paste-modal"><i class="material-icons left">content_copy</i>Paste to date</a>
        <a class="modal-trigger btn-flat accent-color-text" data-target="add-shift-template-modal"><i class="material-icons left">add</i>Add Shift template</a>
        <a class="waves-effect waves-light btn accent-color" onclick="M.Modal.getInstance(document.querySelector('#view-modal')).close();" hx-get="{% url 'day_templates' %}" hx-target="#day-template-table" hx-swap="morph"><i class="material-icons left">update</i>Update view</a>
    </div>
</div>