<div id="edit-modal-content">
    <script>
        var modal_elems = document.querySelector('#delete-modal');
        var modal_instances = M.Modal.init(modal_elems);
    </script>

    <div id="delete-modal" class="modal content-section card-color">
        <div class="modal-content">
            <h5><b class="warning-color-text">Delete Day template {{ selected_day_template.name }}</b></h5>
            <p>Are you sure you really want to delete this entry?</p>
        </div>
        <div class="modal-footer header-color">
            <a class="modal-close waves-effect waves-light btn-flat white-text" onclick="M.Modal.getInstance(document.querySelector('#delete-modal')).close(); M.Modal.getInstance(document.querySelector('#edit-modal')).close();"><i class="material-icons left">close</i>Abort and close</a>
            <a class="waves-effect waves-light btn warning-color white-text" onclick="M.Modal.getInstance(document.querySelector('#delete-modal')).close(); M.Modal.getInstance(document.querySelector('#edit-modal')).close();" hx-get="{% url 'delete_day_template' selected_day_template.id %}" hx-target="#day-template-table" hx-swap="morph"><i class="material-icons left">delete_forever</i>Yes, delete</a>
        </div>
    </div>

    <form hx-post="{% url 'edit_day_template' selected_day_template.id %}" hx-target="#day-template-table" hx-swap="morph">
        <div class="modal-content card-color">
            {% csrf_token %}
            <h5 class="header-color-text"><b>Edit Day template {{ selected_day_template.name }}</b></h5>
            <div class="row" style="gap: 1em">
                <div class="s6 input-field">
                    <i class="material-icons prefix">label</i>
                    <input id="id_name" name="name" type="text" autofocus autocapitalize="none" maxlength="30" value="{{ selected_day_template.name }}" placeholder=" " required>
                    <label for="id_name">*Name</label>
                </div>
            </div><br>
            <div class="row" style="gap: 1em">
                <div class="s12 input-field">
                    <i class="material-icons prefix">local_offer</i>
                    <textarea id="id_description" name="description" autocapitalize="none" class="materialize-textarea" placeholder=" ">{{ selected_day_template.description }}</textarea>
                    <label for="id_description">Description</label>
                </div>
            </div><br>
        </div>
        <div class="modal-footer header-color" style="margin-top: 10%">
            <button type="submit" class="waves-effect waves-light btn accent-color" onclick="M.Modal.getInstance(document.querySelector('#edit-modal')).close();"><i class="material-icons left">edit</i>Update Day template</button>
            <a class="modal-trigger waves-effect waves-light btn-flat white-text" data-target="delete-modal"><i class="material-icons left">delete_forever</i>Delete</a>
        </div>
    </form>
</div>