{% extends "base.html" %}
{% block title %}ShiftManager - Shift templates{% endblock %}

{% block content %}
    {% if user.is_authorized %}
        <h3 class="light-blue-text text-darken-1">Shift templates</h3>
        {% if user.is_admin %}<a class="waves-effect waves-light btn light-blue darken-1 right" href="{% url 'create_shift_template' %}"><i class="material-icons left">add</i>Create shift template</a><br><br>{% endif %}
        <div class="card">
            <div class="card-content">
                <table class="striped highlight responsive-table">
                    <thead class="grey darken-1 white-text">
                        <tr>
                            <th>Name</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Work hours<br>Break</th>
                            <th>Department<br>Qualifications</th>
                            <th>Note</th>
                            {% if user.is_admin %}<th>Edit</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in all_entries %}
                        <tr>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.start_time|date:"H:i" }}</td>
                            <td>{{ entry.end_time|date:"H:i" }}</td>
                            <td>{{ entry.get_work_hours|date:"H:i" }}<br><span class="grey-text text-darken-1">{{ entry.break_duration|date:"H:i" }}</span></td>
                            <td>
                                {{ entry.department }}<br>
                                {% for qualification in entry.qualifications %}
                                    <span class="new badge amber darken-1 black-text z-depth-1" data-badge-caption="">
                                        <b>{{ qualification.qualification.name }}</b>
                                    </span>
                                {% endfor %}
                            </td>
                            <td>{{ entry.note }}</td>
                            {% if user.is_admin %}
                                <td>
                                    <a class="waves-effect waves-light btn amber darken-1" href="{% url 'edit_shift_template' entry.id %}"><i class="material-icons">edit</i></a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}