<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}ShiftManager{% endblock %}</title>

  {% load static %}

      <!-- Materialize CSS dependencies -->
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/theming.css' %}">
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="{% static 'js/loadingMaterialize.js' %}"></script>
    {% endblock %}
</head>
<body>
    <main>
        {% include 'registration/login.html' %}
        {% include 'users/change_password.html' %}

        <ul id="userwidget" class="dropdown-content">
            <li><a href="{% url 'own_shifts' %}">Dashboard</a></li>
            <li><a href="{% url 'own_availabilities' %}">My general availabilities</a></li>
            <li><a href="{% url 'own_wishes' %}">My shift wishes</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'own_absences' %}">My absences</a></li>
            <li><a href="{% url 'own_holidays' %}">My holidays</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'edit_basedata' %}">My base data</a></li>
            <li><a data-target="change-password-modal" class="modal-trigger waves-effect waves-light">Change password</a></li>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <li><button type="submit" class="btn amber darken-1 white-text">Logout</button></li>
            </form>
        </ul>

        <nav>
            <div class="nav-wrapper header-color">
                <a data-target="sidenav" class="sidenav-trigger show-on-large btn waves-effect waves-light accent-color"><i class="material-icons">menu</i></a>
                <a href="#" class="brand-logo accent-color-text">ShiftManager</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% block contextmenu %}
                    {% endblock %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'own_shifts' %}"><i class="material-icons left">dashboard</i>Dashboard</a></li>
                        <li><a href="{% url 'attendance' %}"><i class="material-icons left">event</i>Attendance</a></li>
                        <li><a href="{% url 'edit_basedata' %}"><i class="material-icons left">person</i>Account</a></li>
                        <li><a class="dropdown-trigger" href="#" data-target="userwidget">{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li><a data-target="login-modal" class="modal-trigger">Login<i class="material-icons left">login</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block sidenav %}
            <ul id="sidenav" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background black"></div>
                        {% if user.is_authenticated %}
                            {% if user.profile_picture %}
                                <img class="circle" src="{{ user.profile_picture.url }}">
                            {% else %}
                                <div class="black">
                                    <img class="circle" src="{% static '/images/avatar.png' %}">
                                </div>
                            {% endif %}
                            <a><span class="accent-color-text name">{{ user }}</span></a>
                            <a><span class="white-text email">{{ user.email }}</span></a>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="btn-floating halfway-fab waves-effect waves-light accent-color" href=""><i class="material-icons">logout</i></button>
                            </form>
                        {% else %}
                            <a><img class="circle" src="{% static '/images/avatar.png' %}"></a>
                            <a><span class="accent-color-text name">Guest</span></a>
                            <a><span class="white-text email"></span></a>
                            <a data-target="login-modal" class="btn-floating halfway-fab modal-trigger waves-effect waves-light accent-color"><i class="material-icons">login</i></a>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <ul class="collapsible grey-text text-darken-4">
                        {% if user.is_authorized %}
                            <li>
                                <div class="collapsible-header"><i class="material-icons accent-color-text">settings</i>General Management</div>
                                <div class="collapsible-body grey lighten-4 grey-text text-darken-4">
                                    <ul>
                                        {% if user.is_admin %}<li><a class="waves-effect waves-light" href="{% url 'useraccounts' %}"><i class="material-icons accent-color-2-text">group</i>Useraccounts</a></li>{% endif %}
                                        {% if user.is_admin %}<li><a class="waves-effect waves-light" href="{% url 'qualifications' %}"><i class="material-icons accent-color-2-text">label</i>Qualifications</a></li>{% endif %}
                                        <li><a class="waves-effect waves-light" href="{% url 'departments' %}"><i class="material-icons accent-color-2-text">view_list</i>Departments</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'demand' %}"><i class="material-icons accent-color-2-text">date_range</i>Personnel demand</a></li>
                                        {% if user.is_admin %}<li><a class="waves-effect waves-light" href="{% url 'datamanagement' %}"><i class="material-icons accent-color-2-text">cloud</i>Data management</a></li>{% endif %}
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons accent-color-text">group</i>Employee Management</div>
                                <div class="collapsible-body grey lighten-4 grey-text text-darken-4">
                                    <ul>
                                        <li><a class="waves-effect waves-light" href="{% url 'employees' %}"><i class="material-icons accent-color-2-text">view_list</i>Employees</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'absences' %}"><i class="material-icons accent-color-2-text">event_busy</i>Absences</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'holidays' %}"><i class="material-icons accent-color-2-text">flight_takeoff</i>Holidays</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons accent-color-text">event</i>Shift Management</div>
                                <div class="collapsible-body grey lighten-4 grey-text text-darken-4">
                                    <ul>
                                        <li><a class="waves-effect waves-light" href="{% url 'shifts' %}"><i class="material-icons accent-color-2-text">view_list</i>Shifts</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'shiftplan' %}"><i class="material-icons accent-color-2-text">event_note</i>Shiftplan</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'work_hours' %}"><i class="material-icons accent-color-2-text">event</i>Work hours</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'availabilities' %}"><i class="material-icons accent-color-2-text">event_available</i>Availabilities</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'wishes' %}"><i class="material-icons accent-color-2-text">event_note</i>Wishes</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'shift_templates' %}"><i class="material-icons accent-color-2-text">event</i>Shift templates</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'day_templates' %}"><i class="material-icons accent-color-2-text">event</i>Day templates</a></li>
                                    </ul>
                                </div>
                            </li>
                        {% elif user.role == 'E' %}
                            <li>
                                <div class="collapsible-header"><i class="material-icons accent-color-text">group</i>Employee Management</div>
                                <div class="collapsible-body grey lighten-4 grey-text text-darken-4">
                                    <ul>
                                        <li><a class="waves-effect waves-light" href="{% url 'own_availabilities' %}"><i class="material-icons accent-color-2-text">event_available</i>Availabilities</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'own_wishes' %}"><i class="material-icons accent-color-2-text">event_note</i>Wishes</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons accent-color-text">event</i>Shift Management</div>
                                <div class="collapsible-body grey lighten-4 grey-text text-darken-4">
                                    <ul>
                                        <li><a class="waves-effect waves-light" href="{% url 'shiftplan' %}"><i class="material-icons accent-color-2-text">event_note</i>Shiftplan</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'own_absences' %}"><i class="material-icons accent-color-2-text">event_busy</i>Absences</a></li>
                                        <li><a class="waves-effect waves-light" href="{% url 'own_holidays' %}"><i class="material-icons main-color-text">flight_takeoff</i>Holidays</a></li>
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li><a data-target="login-modal" class="modal-trigger waves-effect waves-light"><i class="material-icons accent-color-text">info</i>Not logged in</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        {% endblock %}

        <div class="container">
            {% block content %}
                <div id="pagecontent">
                    <br><br><br>
                    <div class="card">
                        <div class="card-content header-color">
                            <div class="card-title"><b class="accent-color-text">Welcome</b></div>
                        </div>
                        <div class="card-content card-color">
                            Please log in to start
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </main>

    {% block footer %}
    {% endblock %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</body>
</html>