<div id="add-holiday card-color">
    <script>
        var elems = document.getElementsByClassName('select-box');
        var instances = M.FormSelect.init(elems);

        var picker_elems = document.querySelectorAll('.datepicker');
        var picker_instances = M.Datepicker.init(picker_elems, {
            format: 'yyyy-mm-dd',
            firstDay: 1,
            showClearBtn: true
        });
    </script>
    <form hx-post="{% url 'create_holiday' %}" hx-target="#holiday-table" hx-swap="morph">
        {% csrf_token %}
        <div class="modal-content card-color">
            <h5 class="header-color-text"><b>Create Holiday</b></h5>
            <div class="row" style="gap: 1em">
                <div class="s4 input-field">
                    <i class="material-icons prefix">person</i>
                    <select name="employee" class="select-box">
                        {% for employee in form.employee %}
                            <option value="{{ employee.data.value }}" {% if selected_holiday.employee == employee.data.value %}selected{% endif %}>{{ employee.data.label }}</option>
                        {% endfor %}
                    </select>
                    <label>*Employee</label>
                </div>
                <div class="s4 input-field">
                    <i class="material-icons prefix">event_calendar</i>
                    <input id="id_start_date" name="start_date" type="text" class="datepicker grey-text text-darken-4" placeholder=" ">
                    <label for="id_start_date">*Start date</label>
                    <!-- set today as default date -->
                    <script>$("#id_start_date").attr("value", new Date().toISOString().slice(0, 10))</script>
                </div>
                <div class="s4 input-field">
                    <i class="material-icons prefix">event_calendar</i>
                    <input id="id_end_date" name="end_date" type="text" class="datepicker grey-text text-darken-4" placeholder=" ">
                    <label for="id_end_date">*End date</label>
                    <!-- set today as default date -->
                    <script>$("#id_end_date").attr("value", new Date().toISOString().slice(0, 10))</script>
                </div>
            </div><br>
            <div class="row" style="gap: 1em">
                <div class="s4 input-field">
                    <i class="material-icons prefix">event_calendar</i>
                    <select name="status" class="select-box">
                    {% for status in form.status %}
                        <option value="{{ status.data.value }}" {% if selected_holiday.status == status.data.value %}selected{% endif %}>{{ status.data.label }}</option>
                    {% endfor %}
                    </select>
                    <label>Status</label>
                </div>
            </div><br>
            <div class="row" style="gap: 1em; margin-bottom: 10%">
                <div class="s12 input-field">
                    <i class="material-icons prefix">chat_bubble</i>
                    <textarea name="note" autocapitalize="none" id="id_note" class="materialize-textarea grey-text text-darken-4" placeholder=" "></textarea>
                    <label for="id_note">Note</label>
                </div>
            </div>
        </div>
        <div class="modal-footer header-color">
            <button type="submit" class="waves-effect waves-light btn accent-color" onclick="M.Modal.getInstance(document.querySelector('#add-modal')).close();"><i class="material-icons left">send</i>Submit Holiday</button>
        </div>
    </form>
</div>