<div id="edit-modal-content card-color">
    <script>
        var elems = document.getElementsByClassName('select-box');
        var instances = M.FormSelect.init(elems);

        var picker_elems = document.querySelectorAll('.datepicker');
        var picker_instances = M.Datepicker.init(picker_elems, {
            format: 'yyyy-mm-dd',
            firstDay: 1,
            showClearBtn: true
        });

        var modal_elems = document.querySelector('#delete-modal');
        var modal_instances = M.Modal.init(modal_elems);
    </script>

    <div id="delete-modal" class="modal content-section card-color">
        <div class="modal-content">
            <h5><b class="warning-color-text">Delete Holiday</b></h5>
            <p>Are you sure you really want to delete this entry?</p>
        </div>
        <div class="modal-footer header-color">
            <a class="modal-close waves-effect waves-light btn-flat white-text" onclick="M.Modal.getInstance(document.querySelector('#delete-modal')).close(); M.Modal.getInstance(document.querySelector('#edit-modal')).close();"><i class="material-icons left">close</i>Abort and close</a>
            <a class="waves-effect waves-light btn warning-color white-text" onclick="M.Modal.getInstance(document.querySelector('#delete-modal')).close(); M.Modal.getInstance(document.querySelector('#edit-modal')).close();" hx-get="{% url 'delete_holiday' selected_holiday.id %}" hx-target="#holiday-table" hx-swap="morph"><i class="material-icons left">delete_forever</i>Yes, delete</a>
        </div>
    </div>

    <form hx-post="{% url 'edit_holiday' selected_holiday.id %}" hx-target="#holiday-table" hx-swap="morph">
        {% csrf_token %}
        <div class="modal-content card-color" style="margin-bottom: 10%">
            <h5 class="header-color-text"><b>Edit Holiday</b></h5>
            <input type="hidden" name="employee" value="{{ selected_holiday.employee.id }}">
            <div class="row" style="gap: 1em">
                <div class="s4 input-field disabled">
                    <i class="material-icons prefix">person</i>
                    <input type="text" disabled value="{{ selected_holiday.employee }}" placeholder=" ">
                    <label>*Employee<i class="material-icons right accent-color-text">lock</i></label>
                </div>
                <div class="s4 input-field">
                    <i class="material-icons prefix">event_calendar</i>
                    <input id="id_start_date" name="start_date" type="text" class="datepicker grey-text text-darken-4" value="{{ selected_holiday.start_date|date:"Y-m-d" }}" placeholder=" ">
                    <label for="id_start_date">*Start date</label>
                </div>
                <div class="s4 input-field">
                    <i class="material-icons prefix">event_calendar</i>
                    <input id="id_end_date" name="end_date" type="text" class="datepicker grey-text text-darken-4" value="{{ selected_holiday.end_date|date:"Y-m-d" }}" placeholder=" ">
                    <label for="id_end_date">*End date</label>
                </div>
            </div><br>
            <div class="row" style="gap: 1em">
                <div class="s4 input-field">
                    <i class="material-icons prefix">event_calendar</i>
                    <select name="status" class="select-box">
                    {% for status in form.status %}
                        <option value="{{ status.data.value }}" {% if selected_holiday.status == status.data.value %}selected{% endif %}>{{ status.data.label }}</option>
                    {% endfor %}
                    </select>
                    <label>Status</label>
                </div>
            </div><br>
            <div class="row" style="gap: 1em;">
                <div class="s12 input-field">
                    <i class="material-icons prefix">chat_bubble</i>
                    <textarea name="note" autocapitalize="none" id="id_note" class="materialize-textarea grey-text text-darken-4" placeholder=" ">{{ selected_holiday.note }}</textarea>
                    <label for="id_note">Note</label>
                </div>
            </div>

            {% if conflicting_shifts.count > 0 %}
                <br><h5 class="header-color-text"><b>Conflicting shifts</b></h5>
                <h6><b class="warning-color-text">On approving</b> this holiday the following shifts will be <b class="warning-color-text">unassigned</b> (no undo):</h6><br>
                <table class="striped highlight responsive-table">
                    <thead class="warning-color white-text">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Work hours<br>Break</th>
                        <th>Qualifications</th>
                        <th>Department</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in conflicting_shifts %}
                        <tr {% if entry.highlight %}class="amber lighten-3"{% endif %}>
                            <td>
                                {{ entry.get_date|date:"l" }}<br>
                                <b>{{ entry.get_date|date:"d.m.Y" }}</b>
                            </td>
                            <td>
                                <b>{{ entry.get_start_time|date:"H:i" }}<br>{{ entry.get_end_time|date:"H:i" }}</b>
                            </td>
                            <td>
                                {{ entry.get_work_hours|date:"H:i" }}<br>
                                <span class="grey-text text-darken-1">{{ entry.break_duration|date:"H:i" }}</span>
                            </td>
                            <td>
                                {% for qualification in entry.get_qualifications %}
                                    <span class="new badge grey darken-1 white-text z-depth-1" data-badge-caption="">
                                        <b>{{ qualification.qualification.name }}</b>
                                    </span><br>
                                {% endfor %}
                            </td>
                            <td>
                                {% if entry.employee != None and entry.employee.department != None and entry.employee.department != entry.department %}
                                    <s>{{ entry.employee.department }}</s><br>
                                    <span class="new badge warning-color z-depth-1" data-badge-caption="">
                                        <b>{{ entry.department }}</b>
                                    </span>
                                {% else %}
                                    {{ entry.department }}
                                {% endif %}
                            </td>
                            <td>{{ entry.note }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="modal-footer header-color">
            <button type="submit" class="waves-effect waves-light btn accent-color" onclick="M.Modal.getInstance(document.querySelector('#edit-modal')).close();"><i class="material-icons left">edit</i>Update Holiday</button>
            <a class="modal-trigger waves-effect waves-light btn-flat white-text" data-target="delete-modal"><i class="material-icons left">delete_forever</i>Delete</a>
        </div>
    </form>
</div>