<div id="demand-table" class="card-content card-color">
    <table class="striped highlight responsive-table">
        <thead class="header-color white-text">
            <tr>
                <th>Department</th>
                <th>Weekday</th>
                <th>Start</th>
                <th>End</th>
                <th>Staff count</th>
                <th>Note</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in page_obj %}
                <tr>
                    <td>{{ entry.department }}</td>
                    <td>{{ entry.get_weekday_display }}</td>
                    <td>{{ entry.start_time|date:"H:i" }}</td>
                    <td>{{ entry.end_time|date:"H:i" }}</td>
                    <td>{{ entry.staff_count }}</td>
                    <td>{{ entry.note }}</td>
                    <td>
                        <a class="modal-trigger waves-effect waves-light btn amber darken-1" data-target="edit-modal" hx-get="{% url 'edit_demand' entry.id %}" hx-target="#edit-modal" hx-swap="morph"><i class="material-icons">edit</i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br>
    {% if timeline %}
        <img src='data:image/png;base64,{{ timeline }}' style="max-width: 100%"><br>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} ({{ entries }} entries)</span>
    <ul class="pagination center">
        {% if page_obj.has_previous %}
            <li class="waves-effect"><a hx-post="{% url 'demand' %}?page={{ page_obj.previous_page_number }}" hx-target="#demand-table" hx-swap="morph"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled grey-text text-lighten-1"><a><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <li class="active accent-color"><a>{{ page_obj.number }}</a></li>
            {% else %}
                <li class="waves-effect"><a hx-post="{% url 'demand' %}?page={{ page }}" hx-target="#demand-table" hx-swap="morph">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="waves-effect"><a hx-post="{% url 'demand' %}?page={{ page_obj.next_page_number }}" hx-target="#demand-table" hx-swap="morph"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled grey-text text-lighten-1"><a><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
</div>