<div id="instructions" class="card-content card-color">
    <div class="card-title"><b class="header-color-text">Before you start</b> please structure your data in the following manner</div>
    <br>
    <div class="card-title"><b class="header-color-text">Worksheet Shifts</b></div>
    <table class="striped">
        <thead class="header-color white-text">
            <th>Name</th>
            <th>Department</th>
            <th>Start</th>
            <th>End</th>
            <th>Break</th>
            <th>Note</th>
        </thead>
    </table>
    <ul class="collection">
        <li class="collection-item">Name has to be unique. Note is optional. All other fields are required.</li>
        <li class="collection-item">Start, End and Time have to be formatted "HH:mm"</li>
    </ul>
    <div class="card-title"><b class="header-color-text">Worksheet Qualifications</b></div>
        <table class="striped">
            <thead class="header-color white-text">
                <th>Shift</th>
                <th>Qualification</th>
            </thead>
        </table>
    <ul class="collection">
        <ul class="collection-item">Shift is Shift template Name column, Qualification is Qualification Name column</ul>
    </ul>
    <br>

    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row" style="gap: 1em">
            <div class="s4 file-field input-field">
                <div class="btn accent-color">
                    <span>File</span>
                    <input type="file" name="file_upload" required id="file_upload">
                </div>
                <div class="s4file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Excel-File">
                </div>
            </div>
        </div><br>
        <button type="submit" class="waves-effect waves-light btn accent-color"><i class="material-icons left">cloud_upload</i>Upload</button>
    </form>
</div>