<div id="instructions" class="card-content card-color">
    <div class="card-title"><b class="header-color-text">Before you start</b> please structure your data in the following manner</div>
    <br>
    <table class="striped">
        <thead class="header-color white-text">
            <th>Username</th>
            <th>Weekday</th>
            <th>Start</th>
            <th>End</th>
            <th>Tendency</th>
            <th>Note</th>
        </thead>
    </table>
    <ul class="collection">
        <li class="collection-item">Start, End and Note are optional. All other fields are required.</li>
        <li class="collection-item">Weekday has to be written like "Monday", etc.</li>
        <li class="collection-item">If Available is "Yes" it will be set to True, otherwise False</li>
        <li class="collection-item">Start and end have to be in the format "HH:mm"</li>
        <li class="collection-item"><ul>Tendency only contains a number:
            <li>0 - No preference</li>
            <li>1 - Early shift</li>
            <li>2 - Midday shift</li>
            <li>3 - Late shift</li>
            <li>4 - Night shift</li>
        </ul></li>
    </ul>
    <br>

    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row" style="gap: 1em">
            <div class="s4 file-field input-field">
                <div class="btn accent-color">
                    <span>File</span>
                    <input type="file" name="file_upload" required id="file_upload">
                </div>
                <div class="s4file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Excel-File">
                </div>
            </div>
        </div><br>
        <button type="submit" class="waves-effect waves-light btn accent-color"><i class="material-icons left">cloud_upload</i>Upload</button>
    </form>
</div>