<div id="instructions" class="card-content card-color">
    <div class="card-title"><b class="header-color-text">Before you start</b> please structure your data in the following manner</div>
    <br>
    <table class="striped">
        <thead class="header-color white-text">
            <th>Username</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Note</th>
        </thead>
    </table>
    <ul class="collection">
        <li class="collection-item">Note is optional. All other fields are required.</li>
        <li class="collection-item">Dates have to be in the ISO format "YYYY-MM-DD"</li>
        <li class="collection-item"><ul>Status only contains a number:
            <li>0 - sent</li>
            <li>1 - not decided</li>
            <li>2 - declined</li>
            <li>3 - approved</li>
        </ul></li>
    </ul>
    <br>

    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row" style="gap: 1em">
            <div class="s4 file-field input-field">
                <div class="btn accent-color">
                    <span>File</span>
                    <input type="file" name="file_upload" required id="file_upload">
                </div>
                <div class="s4file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Excel-File">
                </div>
            </div>
        </div><br>
        <button type="submit" class="waves-effect waves-light btn accent-color"><i class="material-icons left">cloud_upload</i>Upload</button>
    </form>
</div>