<div id="change-password-modal" class="modal" style="min-width: 25%; width: max-content">
    <form method="POST" action="{% url 'change_password' %}">
        <div class="modal-content">
            {% csrf_token %}
            <h5 class="main-color-text">Enter new password</h5>
            <div class="row" style="gap: 1em">
                <div class="s6 input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input type="password" name="new_password1" autocapitalize="none" maxlength="50" required id="id_password1" class="grey-text text-lighten-1" placeholder=" ">
                    <label for="id_password1">New password</label>
                </div>
                <div class="s6 input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input type="password" name="new_password2" autocapitalize="none" maxlength="50" required id="id_password2" class="grey-text text-lighten-1" placeholder=" ">
                    <label for="id_password2">New password (repeat)</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="waves-effect waves-light btn main-color"><i class="material-icons left">update</i>Update password</button>
        </div>
    </form>
</div>