<div id="change-password">
    <div class="card-content header-color">
        <div class="card-title"><b class="accent-color-text">Change password</b></div>
    </div>
    {% if errors %}
        <div class="container" style="margin-top: 2%">
            <div class="card card-color">
                <div class="card-content warning-color">
                    <div class="card-title"><b class="white-text">Errors</b></div>
                    <div class="white-text">Your new password was not accepted. Please address the following issues</div>
                </div>
                <div class="card-content card-color">
                    {% for error in errors %}
                        <span>{{ error }}</span><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <form hx-post="{% url 'change_password' %}" hx-target="#change-password" hx-swap="morph">
        <div class="card-content card-color">
            {% csrf_token %}
            <div class="row" style="gap: 1em">
                <div class="s6 input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input type="password" name="new_password1" autocapitalize="none" maxlength="50" required id="id_password1" class="grey-text text-lighten-1" placeholder=" ">
                    <label for="id_password1">New password</label>
                </div>
                <div class="s6 input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input type="password" name="new_password2" autocapitalize="none" maxlength="50" required id="id_password2" class="grey-text text-lighten-1" placeholder=" ">
                    <label for="id_password2">New password (repeat)</label>
                </div>
            </div>
        </div>
        <div class="card-content right">
            <button type="submit" class="waves-effect waves-light btn accent-color"><i class="material-icons left">update</i>Update password</button>
        </div>
    </form>
    </div>
</div>