{% extends "base.html" %}
{% block title %}ShiftManager - Create user{% endblock %}

{% block content %}
    {% if user.is_admin %}
        <h3 class="light-blue-text text-darken-1">Create user</h3>
        <a class="waves-effect waves-light btn amber darken-1 right" href="{% url 'useraccounts' %}"><i class="material-icons left">keyboard_backspace</i>Back</a><br><br><br>
        <form method="POST" action="{% url 'create_user' %}">
            {% csrf_token %}
            <div class="card">
                <div class="card-content">
                    <div class="card-title light-blue-text text-darken-1"><b>Base data</b></div>
                    <div class="row" style="gap: 1em">
                        <div class="s6 input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" name="username" autofocus autocapitalize="none" maxlength="15" required id="id_username" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_username">*Username</label>
                        </div>
                        <div class="s6 input-field">
                            <i class="material-icons prefix">mail</i>
                            <input type="email" name="email" autocapitalize="none" maxlength="150" required id="id_email" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_email">*E-Mail</label>
                        </div>
                    </div><br>
                    <div class="row" style="gap: 1em">
                        <div class="s6 input-field">
                            <i class="material-icons prefix">vpn_key</i>
                            <input type="password" name="password1" autocapitalize="none" maxlength="15" required id="id_password1" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_password1">*Password</label>
                        </div>
                        <div class="s6 input-field">
                            <i class="material-icons prefix">vpn_key</i>
                            <input type="password" name="password2" autocapitalize="none" maxlength="15" required id="id_password2" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_password2">*Password (repeat)</label>
                        </div>
                    </div><br>
                    <div class="row" style="gap: 1em">
                        <div class="s6 input-field">
                            <i class="material-icons prefix">label</i>
                            <input type="text" name="first_name" autocapitalize="none" maxlength="50" required id="id_first_name" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_first_name">*First name</label>
                        </div>
                        <div class="s6 input-field">
                            <i class="material-icons prefix">label</i>
                            <input type="text" name="last_name" autocapitalize="none" maxlength="50" required id="id_last_name" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_last_name">*Last name</label>
                        </div>
                    </div><br>
                    <div class="row" style="gap: 1em">
                        <div class="s6 input-field">
                            <i class="material-icons prefix">phone</i>
                            <input type="text" name="telephone_home" autocapitalize="none" maxlength="20" id="id_telephone_home" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_telephone_home">Telephone home</label>
                        </div>
                        <div class="s6 input-field">
                            <i class="material-icons prefix">stay_current_portrait</i>
                            <input type="text" name="telephone_mobile" autocapitalize="none" maxlength="20" id="id_telephone_mobile" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_telephone_mobile">Telephone mobile</label>
                        </div>
                    </div><br>
                    <div class="row" style="gap: 1em">
                        <div class="s6 input-field">
                            <i class="material-icons prefix">house</i>
                            <input type="text" name="address" autocapitalize="none" maxlength="50" id="id_address" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_address">Address</label>
                        </div>
                        <div class="s6 input-field">
                            <i class="material-icons prefix">apartment</i>
                            <input type="text" name="zip_city" autocapitalize="none" maxlength="50" id="id_zip_city" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_zip_city">Zip City</label>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="card">
                <div class="card-content">
                    <div class="card-title light-blue-text text-darken-1"><b>Contract details</b></div>
                    <div class="row">
                        <div class="s4 input-field">
                            <i class="material-icons prefix">local_offer</i>
                            <select name="role">
                                <option value="A">Admin</option>
                                <option value="P">Planner</option>
                                <option value="E" selected>Employee</option>
                            </select>
                            <label>*Role</label>
                        </div>
                        <div class="s2 input-field">
                            <i class="material-icons prefix">tag</i>
                            <input type="text" name="staff_id" autocapitalize="none" maxlength="15" required id="id_staff_id" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_staff_id">*Staff ID</label>
                        </div>
                        <div class="input-field col s2">
                            <label>
                                <input type="checkbox" name="is_external" />
                                <span>External</span>
                            </label>
                        </div>
                        <div class="input-field col s2">
                            <label>
                                <input type="checkbox" checked="checked" name="is_active" />
                                <span>Active</span>
                            </label>
                        </div>
                        <div class="input-field col s2">
                            <label>
                                <input type="checkbox" name="is_verified" />
                                <span>Verified</span>
                            </label>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="s6 input-field">
                            <i class="material-icons prefix">event_calendar</i>
                            <input id="id_start_contract" name="start_contract" type="text" class="datepicker grey-text text-darken-4" placeholder=" ">
                            <label for="id_start_contract">Start contract</label>
                            <!-- set today as default date -->
                            <script>$("#id_start_contract").attr("value", new Date().toISOString().slice(0, 10))</script>
                        </div>
                        <div class="s6 input-field">
                            <i class="material-icons prefix">event_calendar</i>
                            <input id="id_end_contract" name="end_contract" type="text" class="datepicker grey-text text-darken-4" placeholder=" ">
                            <label for="id_end_contract">End contract</label>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="s4 input-field">
                            <i class="material-icons prefix">local_offer</i>
                            {{ form.department }}
                            <label>Department</label>
                        </div>
                        <div class="s4 input-field">
                            <i class="material-icons prefix">schedule</i>
                            <input type="number" name="work_hours" value="{{ selected_user.work_hours }}" autocapitalize="none" maxlength="50" id="id_work_hours" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_work_hours">Work hours (hours / week)</label>
                        </div>
                        <div class="s4 input-field">
                            <i class="material-icons prefix">flight_takeoff</i>
                            <input type="number" name="holiday_count" value="{{ selected_user.holiday_count }}" autocapitalize="none" maxlength="50" id="id_holiday_count" class="grey-text text-darken-4" placeholder=" ">
                            <label for="id_holiday_count">Holiday (days / year)</label>
                        </div>
                    </div><br>
                    <button type="submit" class="waves-effect waves-light btn light-blue darken-1"><i class="material-icons left">person_add</i>Create user</button>
                </div>
            </div>
        </form>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}