{% extends "base.html" %}
{% block title %}ShiftManager - Edit {{ selected_user }}{% endblock %}

{% block content %}
    {% if user.is_admin %}
        <div id="delete-modal" class="modal content-section card-color">
            <div class="modal-content">
                <h5><b>Delete {{ selected_user }}</b></h5>
                <p>Are you sure you really want to delete {{ selected_user }}? All assigned data will be gone forever and may cause corrupted past data. It is advised to deactivate users instead of deleting them.</p>
            </div>
            <div class="modal-footer header-color">
                <a class="modal-close waves-effect waves-light btn-flat white-text"><i class="material-icons left">close</i>Abort and close</a>
                <a class="waves-effect waves-light btn warning-color white-text" href="{% url 'delete_user' selected_user.id %}"><i class="material-icons left">delete_forever</i>Yes, delete anyway</a>
            </div>
        </div>

        <div id="add-modal" class="modal content-section card-color">
            <div class="modal-content">
                <h5 class="header-color-text"><b>Add qualification</b></h5>
                <table class="striped highlight responsive-table">
                    <thead class="header-color white-text">
                    <th>Qualification</th>
                    <th>Description</th>
                    <th>Add</th>
                    </thead>
                    {% for qualification in qualifications %}
                        <tr>
                            <td><b>{{ qualification }}</b></td>
                            <td>{{ qualification.description }}</td>
                            <td><a class="waves-effect waves-light btn accent-color" hx-get="{% url 'add_employee_qualification' selected_user.id qualification.id %}" hx-target="#user-qualifications" hx-swap="morph" onclick="M.Modal.getInstance(document.querySelector('#add-modal')).close();"><i class="material-icons">add</i></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div id="edit-modal">
            <div id="edit-modal-content" class="modal content-section card-color"></div>
        </div>

        <br><br><br>
        <div id="edit-user" class="card card-content card-color">
            <form method="POST" action="{% url 'edit_user' selected_user.id %}">
                {% csrf_token %}
                <div class="card-color">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s4"><a class="active" href="#base-data">Base data</a></li>
                                <li class="tab col s4"><a href="#contract-details">Contract details</a></li>
                                <li class="tab col s4"><a href="#qualifications" hx-get="{% url 'get_user_qualifications' selected_user.id %}?edit=True" hx-target="#user-qualifications" hx-swap="morph">Qualifications</a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="base-data">
                        <div class="card-content header-color">
                            <div class="card-title white-text"><b class="accent-color-text">Base data</b><span class="right"><i class="material-icons left">person</i><b>{{ selected_user.first_name }} {{ selected_user.last_name }}</b></span></div>
                        </div>
                        <div class="card-content card-color">
                            <div class="row" style="gap: 1em">
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">person</i>
                                    <input type="text" name="username" autofocus value="{{ selected_user.username }}" autocapitalize="none" maxlength="15" required id="id_username" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_username">*Username</label>
                                </div>
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">mail</i>
                                    <input type="email" name="email" value="{{ selected_user.email }}" autocapitalize="none" maxlength="150" required id="id_email" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_email">*E-Mail</label>
                                </div>
                            </div><br>
                            <div class="row" style="gap: 1em">
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">label</i>
                                    <input type="text" name="first_name" value="{{ selected_user.first_name }}" autocapitalize="none" maxlength="50" required id="id_first_name" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_first_name">*First name</label>
                                </div>
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">label</i>
                                    <input type="text" name="last_name" value="{{ selected_user.last_name }}" autocapitalize="none" maxlength="50" required id="id_last_name" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_last_name">*Last name</label>
                                </div>
                            </div><br>
                            <div class="row" style="gap: 1em">
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">phone</i>
                                    <input type="text" name="telephone_home" value="{{ selected_user.telephone_home }}" autocapitalize="none" maxlength="20" id="id_telephone_home" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_telephone_home">Telephone home</label>
                                </div>
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">stay_current_portrait</i>
                                    <input type="text" name="telephone_mobile" value="{{ selected_user.telephone_mobile }}" autocapitalize="none" maxlength="20" id="id_telephone_mobile" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_telephone_mobile">Telephone mobile</label>
                                </div>
                            </div><br>
                            <div class="row" style="gap: 1em">
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">house</i>
                                    <input type="text" name="address" value="{{ selected_user.address }}" autocapitalize="none" maxlength="50" id="id_address" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_address">Address</label>
                                </div>
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">apartment</i>
                                    <input type="text" name="zip_city" value="{{ selected_user.zip_city }}" autocapitalize="none" maxlength="50" id="id_zip_city" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_zip_city">Zip City</label>
                                </div>
                            </div><br><br>
                            <button type="submit" class="waves-effect waves-light btn accent-color"><i class="material-icons left">edit</i>Update user</button>
                            <a class="modal-trigger waves-effect waves-light btn-flat warning-color-text" data-target="delete-modal"><i class="material-icons left">delete_forever</i>Delete</a>
                        </div>
                    </div>

                    <div id="contract-details">
                        <div class="card-content header-color">
                            <div class="card-title white-text"><b class="accent-color-text">Contract data</b><span class="right"><i class="material-icons left">person</i><b>{{ selected_user.first_name }} {{ selected_user.last_name }}</b></span></div>
                        </div>
                        <div class="card-content card-color">
                            <div class="row" style="gap: 1em">
                                <div class="s4 input-field">
                                    <i class="material-icons prefix">local_offer</i>
                                    <select name="role">
                                        <option value="A" {% if selected_user.role == 'A' %}selected{% endif %}>Admin</option>
                                        <option value="P" {% if selected_user.role == 'P' %}selected{% endif %}>Planner</option>
                                        <option value="E" {% if selected_user.role == 'E' %}selected{% endif %}>Employee</option>
                                    </select>
                                    <label>*Role</label>
                                </div>
                                <div class="s2 input-field">
                                    <i class="material-icons prefix">tag</i>
                                    <input type="text" name="staff_id" value="{{ selected_user.staff_id }}" autocapitalize="none" maxlength="15" required id="id_staff_id" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_staff_id">*Staff ID</label>
                                </div>
                                <div class="s2 input-field">
                                    <label>
                                        <input type="checkbox" {% if selected_user.is_external == True %}checked="checked"{% endif %} name="is_external" />
                                        <span>External</span>
                                    </label>
                                </div>
                                <div class="s2 input-field">
                                    <label>
                                        <input type="checkbox" {% if selected_user.is_active == True %}checked="checked"{% endif %} name="is_active" />
                                        <span>Active</span>
                                    </label>
                                </div>
                                <div class="s2 input-field">
                                    <label>
                                        <input type="checkbox" {% if selected_user.is_verified == True %}checked="checked"{% endif %} name="is_verified" />
                                        <span>Verified</span>
                                    </label>
                                </div>
                            </div><br>
                            <div class="row" style="gap: 1em">
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">event_calendar</i>
                                    <input id="id_start_contract" name="start_contract" type="text" class="datepicker" value="{{ selected_user.start_contract|date:"Y-m-d" }}" placeholder=" ">
                                    <label for="id_start_contract">Start contract</label>
                                </div>
                                <div class="s6 input-field">
                                    <i class="material-icons prefix">event_calendar</i>
                                    <input id="id_end_contract" name="end_contract" type="text" class="datepicker" value="{{ selected_user.end_contract|date:"Y-m-d" }}" placeholder=" ">
                                    <label for="id_end_contract">End contract</label>
                                </div>
                            </div><br>
                            <div class="row" style="gap: 1em">
                                <div class="s4 input-field">
                                    <i class="material-icons prefix">local_offer</i>
                                    <select name="department">
                                        {% for department in departments %}
                                            <option value="{{ department.id }}" {% if selected_user.department.name == department.name %}selected{% endif %}>{{ department.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label>Department</label>
                                </div>
                                <div class="s4 input-field">
                                    <i class="material-icons prefix">schedule</i>
                                    <input type="number" name="work_hours" value="{{ selected_user.work_hours }}" autocapitalize="none" maxlength="50" id="id_work_hours" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_work_hours">Work hours (hours / week)</label>
                                </div>
                                <div class="s4 input-field">
                                    <i class="material-icons prefix">flight_takeoff</i>
                                    <input type="number" name="holiday_count" value="{{ selected_user.holiday_count }}" autocapitalize="none" maxlength="50" id="id_holiday_count" class="grey-text text-darken-4" placeholder=" ">
                                    <label for="id_holiday_count">Holiday (days / year)</label>
                                </div>
                            </div><br><br>
                            <button type="submit" class="waves-effect waves-light btn accent-color"><i class="material-icons left">edit</i>Update user</button>
                            <a class="modal-trigger waves-effect waves-light btn-flat warning-color-text" data-target="delete-modal"><i class="material-icons left">delete_forever</i>Delete</a>
                        </div>
                    </div>

                    <div id="qualifications">
                        <div class="card-content header-color">
                            <div class="card-title white-text"><b class="accent-color-text">Qualifications</b><span class="right"><i class="material-icons left">person</i><b>{{ selected_user.first_name }} {{ selected_user.last_name }}</b></span></div>
                            <a data-target="add-modal" class="modal-trigger btn-floating accent-color white-text right"><i class="material-icons left">add</i></a>
                        </div>
                        <div id="user-qualifications" class="card-content card-color"></div>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}