{% extends "base.html" %}
{% block title %}ShiftManager - Employees{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3 class="light-blue-text text-darken-1">Employees</h3>
        <div class="card">
            <div class="card-content">
                <table class="striped highlight responsive-table">
                    <thead class="light-blue-text text-darken-1">
                        <tr>
                            <th>First Name<br>Last Name</th>
                            <th>Active<br>External</th>
                            <th>E-Mail<br>Telephone home<br>Telephone mobile</th>
                            <th>Department<br>Qualifications</th>
                            <th>Work Hours<br>Holiday</th>
                            <th>Start contract<br>End contract</th>
                            {% if user.is_admin %}<th>Manage</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in all_entries %}
                        <tr>
                            <td>{{ entry.first_name }}<br><b>{{ entry.last_name }}</b></td>
                            <td>
                                {% if entry.is_active %}
                                    <i class="material-icons light-green-text text-darken-1">done</i>
                                {% else %}
                                    <i class="material-icons red-text text-darken-1">close</i>
                                {% endif %}
                                <br>{% if entry.is_external %}External{% endif %}
                            </td>
                            <td>{{ entry.email }}<br>{{ entry.telephone_home }}<br>{{ entry.telephone_mobile }}</td>
                            <td>{{ entry.department.name }}<br>
                                {% for qualification in entry.qualifications %}
                                <span class="new badge amber darken-1 black-text z-depth-1" data-badge-caption="">
                                    <b>{{ qualification.qualification.name }}</b>
                                </span>
                                {% endfor %}
                            </td>
                            <td>{% if entry.work_hours != None %}{{ entry.work_hours }} hours / week{% endif %}<br>{% if entry.holiday_count != None %}{{ entry.holiday_count }} days / year{% endif %}</td>
                            <td>{{ entry.start_contract|date:"Y-m-d" }}<br>{{ entry.end_contract|date:"Y-m-d" }}</td>
                            {% if user.is_admin %}<th><a class="waves-effect waves-light btn amber darken-1" href="{% url 'edit_user' entry.id %}"><i class="material-icons">edit</i></a></th>{% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% include 'forbidden.html' %}
    {% endif %}
{% endblock %}