<div id="edit-modal-content">
    <script>
        var elem = document.getElementsByClassName('select-box');
        var instance = M.FormSelect.init(elem);

        var picker_elems = document.querySelectorAll('.datepicker');
        var picker_instances = M.Datepicker.init(picker_elems, {
            format: 'yyyy-mm-dd',
            firstDay: 1,
            showClearBtn: true
        });

        var modal_elems = document.querySelector('#delete-modal');
        var modal_instances = M.Modal.init(modal_elems);
    </script>

    <div id="delete-modal" class="modal content-section card-color">
        <div class="modal-content">
            <h5><b class="warning-color-text">Delete Shift template {{ selected_shift_template.name }}</b></h5>
            <p>Are you sure you really want to delete this entry?</p>
        </div>
        <div class="modal-footer header-color">
            <a class="modal-close waves-effect waves-light btn-flat white-text" onclick="M.Modal.getInstance(document.querySelector('#delete-modal')).close(); M.Modal.getInstance(document.querySelector('#edit-modal')).close();"><i class="material-icons left">close</i>Abort and close</a>
            <a class="waves-effect waves-light btn warning-color white-text" onclick="M.Modal.getInstance(document.querySelector('#delete-modal')).close(); M.Modal.getInstance(document.querySelector('#edit-modal')).close();" hx-get="{% url 'delete_shift_template' selected_shift_template.id %}" hx-target="#shift-template-table" hx-swap="morph"><i class="material-icons left">delete_forever</i>Yes, delete</a>
        </div>
    </div>

    <form hx-post="{% url 'edit_shift_template' selected_shift_template.id %}" hx-target="#shift-template-table" hx-swap="morph">
        <div class="modal-content card-color">
            {% csrf_token %}
            <h5 class="header-color-text"><b>Edit Shift template {{ selected_shift_template.name }}</b></h5>
            <div class="row" style="gap: 1em">
                <div class="s4 input-field">
                    <i class="material-icons prefix">label</i>
                    <input type="text" name="name" autofocus autocapitalize="none" maxlength="30" required value="{{ selected_shift_template.name }}" id="id_name" placeholder=" ">
                    <label for="id_name">*Name</label>
                </div>
                <div class="s4 input-field">
                    <i class="material-icons prefix">local_offer</i>
                    <select name="department" class="select-box">
                        {% for department in departments %}
                            <option value="{{ department.id }}" {% if selected_shift_template.department.name == department.name %}selected{% endif %}>{{ department.name }}</option>
                        {% endfor %}
                    </select>
                    <label>*Department</label>
                </div>
            </div><br>
            <div class="row" style="gap: 1em">
                <div class="s4 input-field">
                    <i class="material-icons prefix">schedule</i>
                    <input id="id_start_time" name="start_time" type="time" value="{{ selected_shift_template.start_time|date:"H:i" }}" placeholder=" " required>
                    <label for="id_start_time">*Start</label>
                </div>
                <div class="s4 input-field">
                    <i class="material-icons prefix">schedule</i>
                    <input id="id_end_time" name="end_time" type="time" value="{{ selected_shift_template.end_time|date:"H:i" }}" placeholder=" " required>
                    <label for="id_end_time">*End</label>
                </div>
                <div class="s4 input-field">
                    <i class="material-icons prefix">label</i>
                    <input id="id_break_duration" type="time" name="break_duration" autofocus autocapitalize="none" value="{{ selected_shift_template.break_duration|date:"H:i" }}" placeholder=" " required>
                    <label for="id_break_duration">*Break</label>
                </div>
            </div><br>
            <div class="row" style="gap: 1em">
                <div class="s12 input-field">
                    <i class="material-icons prefix">chat_bubble</i>
                    <textarea name="note" autocapitalize="none" id="id_note" class="materialize-textarea grey-text text-darken-4" placeholder=" ">{{ selected_shift_template.note }}</textarea>
                    <label for="id_note">Note</label>
                </div>
            </div>
            <h5><b class="header-color-text">Required Qualifications</b></h5>
            <div id="loader" hx-get="{% url 'shift_template_qualifications' selected_shift_template.id %}" hx-trigger="load once" hx-target="#shift-template-qualifications" hx-swap="morph"></div>
                <br><div id="shift-template-qualifications"></div>
            </div>
        <div class="modal-footer header-color" style="margin-top: 10%">
            {% if user.is_admin %}<a class="modal-trigger btn-flat accent-color-text" data-target="add-qualification-modal"><i class="material-icons left">add</i>Add Qualification</a>{% endif %}
            <button type="submit" class="waves-effect waves-light btn accent-color" onclick="M.Modal.getInstance(document.querySelector('#edit-modal')).close();"><i class="material-icons left">edit</i>Update Shift template</button>
            <a class="modal-trigger waves-effect waves-light btn-flat white-text" data-target="delete-modal"><i class="material-icons left">delete_forever</i>Delete</a>
        </div>
    </form>
</div>